/* Estilo do componente de mensagens */
.panel-body 
{
    border-radius: 10px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    padding: 20px 15px 30px;
}
.panel-footer 
{
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    padding: 20px 15px 30px;
}
.author 
{
    float: left;
    font-style: italic;
}
.config 
{
    float: right;
}
.config a 
{
    margin-right: 10px;
}
.btn 
{
    color: white;
    font-style: italic;
}

#btn-edit:hover
{
    color: blue;
}

#btn-del:hover
{
    color: red;
}
#author
{
    color: rgb(107, 107, 107);
    font-style: italic;
}
