<!-- Estrututa do componente de mensagens -->
<br/>
<!--<input type="text" [(ngModel)] = "messageVarClasse().content">
<input type="text" [(ngModel)] = "messageVarClasse().username"> -->

<article class="panel panel-default">
    <div class="panel-body">
      {{messageVarClasse().content}}
    </div>

    <footer class="panel-footer">
      <div class="author">
        {{messageVarClasse().username}}
      </div>
    </footer>
    <div class="config">
      <a href="#" (click)='edit()'>Edit</a>
      <a href="#" (click)='delete()'>Delete</a>
    </div>
  </article>
