<br/>
<article id="message-list" class="panel panel-default">
    <div class="panel-body">
      <p style="color: white;">{{messageVarClasse().content}}</p>
    </div>
    <div class="row">
      <div class="col-md-7">
        <p id="author" class="my-1" style="color: white;">-> {{messageVarClasse().username}} <-</p>
      </div>
      <div class="col-md-5">
        <div class="d-flex flex-row-reverse">
        <button id="btn-edit" class="btn" (click)='edit()'><b>Edit</b></button>
        <button id="btn-del" class="btn"  (click)='delete(messageVarClasse().messageId)'><b>Delete</b></button>
        </div>
      </div>
    </div>
    <div class="config">
    </div>
  </article>