<!-- Estrututa do componente de mensagens -->
<input type="text" [(ngModel)] = "messageVarClasse().content">
<input type="text" [(ngModel)] = "messageVarClasse().username">

<article class="panel panel-default">
    <div class="panel-body">
      {{messageVarClasse().content}}
    </div>
    
    <footer class="panel-footer">
      <div class="author">
        {{messageVarClasse().username}}
      </div>
    </footer>
    <div class="config">
      <a href="#" (click)="onEdit()">Edit</a>
      <a href="#">Delete</a>
    </div>
  </article>